.input-base {
    font-size: 1.4rem;
    border: none;
    border-radius: 1rem;
    &::placeholder {
        color: #242430;
    }
    &:focus {
        outline: none;
    }
}

.input-modal {
    padding: 1.9rem 0 1.9rem 1.7rem;
    background-color: #fff;
    color: #363640;
}

.input-header {
    color: #242430;
    border: 2px solid #feca61;
    padding: 1rem 0 1rem 4.3rem;
    width: 28rem;
    background-color: #feca61;
    font-family: 'Open Sans', sans-serif;
    &:focus {
        border: 2px solid darken($color: #feb31c, $amount: 5);
    }
}