.modal-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        max-width: 60%;
        border: 2px solid #d4d4da;
        border-radius: 0.5rem;
        
    }
    .container {
        display: flex;
        margin-bottom: 2rem;
    }
    .modal-container {
        display: flex;
        flex-direction: column;
        input {
            margin-right: 1.4rem;
        }
        &:last-child input {
            margin-right: 0;
        }
        label {
            font-size: 1.4rem;
            color: #363640;
            font-weight: 600;
            margin-bottom: 1.4rem;
            text-transform: uppercase;
        }
    }
    .w50 {
        flex: 1 0 50%;
        max-width: 50%;
    }
    .w25 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .modal-header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 2.2rem 2.3rem 1.9rem 2rem;
        border-bottom: 1px solid #d4d4da;
        .user-name {
            color: #feb31c;
            font-size: 1.8rem;
            margin-bottom: 0.2rem;
        }
        .user-id {
            font-size: 1.4rem;
        }
    }
    .modal-body {
        background-color: #f4f4f4;
        padding: 2.5rem;
    }
    .modal-footer {
        background-color: #f4f4f4;
        padding: 1.5rem 2.5rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-info {
            font-size: 1.4rem;
            span {
                color: #feb31c;
                font-weight: 600;
            }
        }
        .footer-buttons{
            input {
                margin-right: 1.5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .btn-close {
        width: 2rem;
        height: 2rem;
        opacity: 0.3;
        position: relative;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &:before, &:after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            height: 2.6rem;
            width: 0.3rem;
            background-color: #333;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}