.logo-composition {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    img {
        width: 34px;
        height: 34px;
        margin-right: 1.9rem;
    }
    span {
        color: #fff;
    }
}